<html>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=ISO-8859-1'>
    <title>SER422 Node End of Survey</title>
  </head>
  <body>
    <p>
      <b><%= message %></b>
    </p>
    <p>
      Please click <a href='/'>here</a> to return to homepage
    </p>
  </body>
</html>