<html>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=ISO-8859-1'>
    <title>SER422 Node Landing Page</title>
  </head>
  <body>
    <p>
      <em>SER422 Node Landing Page</em>
    </p>
    <form action='controller' method='get'>
      Username: <input type='text' name='username' value='<%= username %>' size='10'><br/>
      <input type='submit' name='action' value='survey'/>
      <input TYPE='submit' name='action' value='match'/>
    </FORM>
    </p>
  </body>
</html>