<html>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=ISO-8859-1'>
    <title>SER422 Node Survey Matches</title>
  </head>
  <body>
    <p>
      Best survey matches for <b><%= username %></b> ranked best-to-worst:
    </p>
    <p>
      <ol>
      <% if (results.length > 0) { 
          for (var i=0; i < results.length; i++) { %>
          <li>
            User: <%= results[i].username %> matched <%= results[i].numMatch %> answers
          </li>
        <% } %>
      <% } else { %>
           No matches found
       <% } %>
      </ol>
    </p>
  </body>
</html>